@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ion-icon{
    font-size: 5vh;
}
body{
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.container-all{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 11vh;
    padding: 3vh 6vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 11vh;
    padding: 3vh 6vw;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

.chat-input{
    outline: none;
    border: none;
    width: 90%;
    height: 40px;
    font-size: 18px;
    font-style: italic;
}

.chat-input:focus{
    font-style: normal;
    color: black;
    border: 1px solid black;
}

.private-input{
    color: #AAAAAA;
    font-size: 14px;
    font-style: normal;
}

.chat{
    margin-top: 14vh;
    margin-bottom: 11vh;
    width: 100vw;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu-background{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    background: black;
    right: 0;
    top: 0;
}

.menu-choices{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    color: black;
    width: 70vw;
    height: 100vh;
    background: #FFFFFF;
    padding: 2vh 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2vh;
}

.menu-choices ion-icon{
    font-size: 3vh;
}

.check-mark{
    color: green;
    font-size: 1vh;
    margin-left: auto;
    display: none;
}

.menu-choices div{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    text-align: center;
}
.menu-choices p{
    margin-left: 2vw;
}
.title-visibility{
    height: 10vh;
    margin-top: 20px;
}
.title-participants{
    height: 13vh;
    margin-bottom: 10px;
}
.title-participants, .title-visibility{
    justify-content: center;
}
.login-screen{
    z-index: 4;
    width: 100vw;
    position: absolute;
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.login-screen > img{
    width: 100px;
    object-fit: contain;
    margin: 10vh 0 14vh 0;
}

.login-screen input{
    outline: none;
    border: 2px solid #D7D7D7;
    border-radius: 4px;
    width: 261px;
    height: 54px;
    color: #AEAEAE;
    text-align: center;
    margin-bottom: 2vh;
}

.login-screen input:focus{
    color: black;
    border: 1px solid #A2321D;
}

.login-screen button{
    outline: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    width: 30vw;
    height: 6vh;
    border: none;
}

.login-screen button:hover{
    color: white;
    background-color: #A2321D;
}

.selected ion-icon{
    display: initial;
}

.chat-message{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #FFFFFF;
    margin: 4px 0;
    display: flex;
    align-items: center;
}

.chat-message > *{
    margin-right: 4px;
}

.status-message{
    background-color: #DCDCDC;
}

.private-message{
    background-color: #FFDEDE;
}

.time-message{
    color: #AAAAAA;
}

.contacts-container{
    display: flex;
    flex-direction: column;
}

.contacts-container div{
    margin-top: 4px;
    cursor: pointer;
}

.contacts-container div:hover{
    filter: drop-shadow(0 0 0.75rem crimson);
}

.visibility:hover{
    filter: drop-shadow(0 0 0.75rem crimson);
    cursor: pointer;
}

.login-loading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.none{
    display: none;
}