@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --backgroundBody-color: #E5E5E5;
    --backgrounds-color: #FFFFFF;
    --letterAndIcons-color: #000000;
    --statusMessage-color: #DCDCDC;
    --privateMessage-color: #FFDEDE;
    --shadow-color: rgba(0,0,0,0.05);
}

.dark-theme{
    --backgroundBody-color: #25100c;
    --backgrounds-color: #220000;
    --letterAndIcons-color: rgba(255, 255, 255, 0.856);
    --statusMessage-color: #14243b;
    --privateMessage-color: #8b2d215b;
    --shadow-color: rgba(255, 255, 255, 0.315);
}

body{
    background: var(--backgroundBody-color);
    font-family: 'Roboto', sans-serif;
    color: var(--letterAndIcons-color);
}

.container-all{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ion-icon{
    font-size: 60px;
    cursor: pointer;
    color: var(--letterAndIcons-color);
}

.top-bar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 16px 22px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    background: var(--backgrounds-color);
}

.top-bar > *{
    margin: 0 10px;
}

.top-bar img{
    width: 75px;
}
.bottom-bar{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    padding: 16px 22px;
    box-shadow: 0px -4px 6px var(--shadow-color);
    background: var(--backgrounds-color);
}

.chat-input{
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--backgrounds-color);
    color: var(--letterAndIcons-color);
}

.chat-input::placeholder{
    font-style: italic;
}

.input-text{
    width: 95%;
    margin-right: 10px;
}

.chat-input:focus{
    color: var(--letterAndIcons-color);
    border: 1px solid var(--letterAndIcons-color);
}

.private-input{
    color: #AAAAAA;
    font-size: 14px;
    font-style: normal;
}

.chat{
    margin-top: 106px;
    margin-bottom: 81px;
    overflow-y: scroll;
}

.menu-background{
    position: absolute;
    z-index: 2;
    width: 30vw;
    height: 100vh;
    min-height: 450px;
    opacity: 0.6;
    background: var(--letterAndIcons-color);
    left: 0;
}

.menu-choices{
    position: absolute;
    right: 0;
    z-index: 3;
    color: var(--letterAndIcons-color);
    width: 70vw;
    height: 100vh;
    background: var(--backgrounds-color);
    padding: 0 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
}

.menu-choices ion-icon{
    font-size: 25px;
}
.check-mark{
    color: green;
    margin-left: auto;
    display: none;
}

.menu-choices div{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}

.visibility, .contacts{
    margin-top: 1px;
    padding: 7.5px 0;
}
.menu-choices p{
    margin-left: 7px;
}
.title-visibility{
    padding: 25px;
    margin-bottom: 4px;
}
.title-participants{
    padding: 26px;
}

.contacts-container{
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 300px);
    min-height: 200px;
    overflow-y: scroll;
}

.contacts-container div, .visibility:hover{
    cursor: pointer;
}

.login-screen{
    z-index: 2;
    width: 100vw;
    position: absolute;
    background: var(--backgrounds-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.login-screen > img{
    width: 100px;
    object-fit: contain;
    margin: 72px auto 94px auto;
}

.login-screen input{
    outline: none;
    border: 2px solid #D7D7D7;
    border-radius: 4px;
    width: 261px;
    height: 54px;
    color: #AEAEAE;
    text-align: center;
    margin-bottom: 15px;
}

.login-screen input:focus{
    color: var(--letterAndIcons-color);
    border: 1px solid #A2321D;
}

.login-screen button{
    outline: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    width: 30vw;
    height: 45px;
    border: none;
}

.login-screen button:hover{
    color: var(--backgrounds-color);
    background-color: #A2321D;
}

.selected ion-icon{
    display: initial;
}

.chat-message{
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    font-size: 14px;
    background-color: var(--backgrounds-color);
    margin: 4px 0;
    display: flex;
    align-items: center;
    padding: 0 9px;
    flex-wrap: wrap;
    word-break: break-all;
}

.chat-message > *{
    margin-right: 4px;
}

.status-message{
    background-color: var(--statusMessage-color);
}

.private-message{
    background-color: var(--privateMessage-color);
}

.time-message{
    color: #AAAAAA;
}

.login-loading, .chat-loading{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.none{
    display: none;
}