@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ion-icon{
    font-size: 42px;
}
body{
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.container-all{
    position: relative;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 80px;
    padding: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    height: 80px;
    padding: 27px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

.chat-input{
    outline: none;
    border: none;
    width: 80%;
}

.chat{
    margin-top: 106px;
    margin-bottom: 80px;
}

.menu-background{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    background: black;
    right: 0;
    top: 0;
}

.menu-choices{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    color: black;
    width: 259px;
    height: 100vh;
    background: #FFFFFF;
    padding: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
}

.menu-choices ion-icon{
    font-size: 22px;
}

.check-mark{
    color: green;
    font-size: 9px;
    margin-left: auto;
    display: none;
}

.menu-choices > div{
    display: flex;
    width: 100%;
    height: 36px;
    align-items: center;
    text-align: center;
}
.menu-choices p{
    margin-left: 10px;
}
.title-visibility{
    height: 66px;
}
.title-participants{
    height: 84px;
}
.title-participants, .title-visibility{
    justify-content: center;
}
.login-screen{
    z-index: 4;
    width: 100%;
    position: absolute;
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.login-screen img{
    width: 130px;
    object-fit: contain;
    margin: 72px 0 94px 0;
}

.login-screen input{
    outline: none;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 260px;
    height: 54px;
    color: #AEAEAE;
    text-align: center;
    margin-bottom: 15px;
}

.login-screen button{
    outline: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    width: 109px;
    height: 45px;
    border: none;
}

.login-screen button:hover{
    color: white;
    background-color: #A2321D;
}
.none{
    display: none;
}

.selected ion-icon{
    display: initial;
}